

.button{
    background-color: rgb(10, 112, 247);
    color:white;
    padding: 0px 20px 0px 20px;
}

.signButton{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}