.button{
    background-color: rgb(10, 112, 247);
    color:white;
    padding: 0px 20px 0px 20px;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    border:2px solid blue;
    margin:10px 10px 10px 10px;
    text-align: center;
}