.userimage {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta la altura según tus necesidades */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Para ajustar la imagen dentro del círculo */
    border: 2px solid #fff; /* Opcional: añade un borde blanco alrededor de la imagen */
    text-align: center;
  }
  
  .patientStructure{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap:20px;
    flex-wrap: wrap;
    border:2px solid blue;
    margin:10px 10px 10px 10px;
  }

  .userHeader{
    display:flex;
    gap:20px;
    justify-content: space-between;
    align-items: center ;
    border:2px solid blue;
    margin:10px 10px 10px 10px;
  }

  .buttonHeader{
    display:flex;
    gap:20px;
  }

  .buttonColor{
    background-color: rgb(10, 112, 247);
    color:white;
    padding: 0px 20px 0px 20px;
  }